
@{
    ViewData["Title"] = "LisstUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ApplicationUser>;


<h1>All Users</h1>

@if (Model.Any())
{
    <div class="card">

        @foreach (var user in Model)
        {
            <div class="card-header">
                <div class="form-group row">
                    User-Id: @user.Id
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">UserName: @user.UserName</h5>
            </div>
            <div class="card-footer">
                <form  method="post" asp-controller="Administration" asp-action="DeleteUser" asp-route-userName="@user.UserName">
                    <a asp-controller="Administration" asp-action="EditUser" asp-route-userId="@user.Id" class="btn btn-success">Edit</a>
                    @*<a asp-controller="Administration" asp-action="DeleteUser" asp-route-userName="@user.UserName" class="btn btn-danger">Delete</a>*@

                    <span id="confirmDeleteSpan_@user.Id" style="display:none">
                        <span>Are you sure to delete this User?</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@user.Id',false)">No</a>
                    </span>

                    <span id="deleteSpan_@user.Id">
                        <a href="#" class="btn btn-danger" onclick="confirmDelete('@user.Id',true)">Delete</a>
                    </span>
                </form>
            </div>

        }
        <a class="btn btn-primary mb-3" style="width:auto" asp-controller="Account" asp-action="Register">Add new user</a>

    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No user created yet.
        </div>
        <div class="card-body">
            <h5 class="card-title">Use the button bellow to add user</h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Account" asp-action="Register">Add new user</a>
        </div>
        <div class="card-footer"></div>

    </div>
}

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
 }